<footer  class="bg-dark">
  <div class="container py-3">
    <a class="mr-5" href="mailto:{{ site.email }}" target="_blank">邮箱</span></a>
    <a class="mr-5" href="https://github.com/{{ site.github_username }}" target="_blank">Github 地址</a>
    <!-- <a class="foot-item" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><span class="octicon octicon-rss"></span></a>
    <a class="foot-item" href="{{ '/link/' | prepend: site.baseurl | prepend: site.url }}"><span class="octicon octicon-link-external"></span></a> -->
    &nbsp;
    <a href="https://github.com/fisherboat"><span class="word-keep">&copy; Boat</span></a>
  </div>
</footer>
